<% playlists.forEach(playlist => { %>
<div class="playlist-suggestion grid-x" data-playlist-id="<%= playlist.id %>">
	<div class="cell playlist-suggestion__thumbnail-container">
		<img src="<%= playlist.image %>">
	</div>
	<div class="auto cell playlist-suggestion__info-container">
		<h3 class="playlist-suggestion-info__playlist-name">
			<a target="_blank" href="<%= playlist.href %>"><%= playlist.name %></a>
		</h3>
		<p class="playlist-suggestion-info__curator-name">
			<span class="dimmed-text">by <a target="_blank" href="<%= playlist.curator.href %>"><%= playlist.curator.name %></a> &#8729; </span>
			<span class="dimmed-text uppercase playlist-suggestion-info__stat">Last edited <span class="convert-time" data-datetime="<%= playlist.dateEdited %>"></span></span>
		</p>
		<div class="grid-x">
			<div class="cell large-4">
				<span class="dimmed-text uppercase playlist-suggestion-info__stat"><%= playlist.followerCount %> followers</span>
			</div>
			<div class="cell large-4">
				<span class="dimmed-text uppercase playlist-suggestion-info__stat"><%= playlist.trackCount %> songs</span>
			</div>
		</div>
		<button class="playlist-suggestion__show-more-info-button" data-playlist-id="<%= playlist.id %>"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
	</div>
	<div class="cell large-12 grid-x playlist-suggestion__more-info-container" data-playlist-id="<%= playlist.id %>">
		<div class="cell large-12 playlist-suggestion__description-container">
			<p><%= playlist.description %></p>
		</div>
		<div class="cell large-12 playlist-suggestion__reasons-container">
			<p><strong>Recommended for you because:</strong></p>
			<span class="playlist-suggestion__reason-tag">Similar time signature</span>
		</div>
		<div class="cell large-12 playlist-suggestion__submit-container">
			<button class="playlist-suggestion__submit select-me-please-daddy" data-playlist-id="<%= playlist.id %>" data-curator-id="<%= playlist.curator.id %>">Submit Track</button>
		</div>
		<a class="click-me-right-there uppercase dimmed-text" href="/curate/<%= playlist.id %>" data-curator-id="<%= playlist.curator.id %>">Playlist</a>
	</div>
</div>
<% }) %>
